{{#each s in model}}
<p>Title:
{{s.title}}</p>

<p>Body:
<br/>
{{s.subject}}
</p>
<div class="input-group" style="width:300px;">
		<span class="input-group-addon">Date</span>
		{{input type="date"  class="form-control" }}
</div>
<br/>
<button class="btn btn-info">post</button>	

{{/each}}

